
vivado.jou
vivado.log
vivado_pid4624.str
RetiLogicheProject.cache/wt/project.wpc
RetiLogicheProject.cache/wt/project.wpc
RetiLogicheProject.cache/wt/webtalk_pa.xml
RetiLogicheProject.cache/wt/webtalk_pa.xml
RetiLogicheProject.sim/sim_1/behav/xsim/compile.bat
RetiLogicheProject.sim/sim_1/behav/xsim/compile.log
RetiLogicheProject.sim/sim_1/behav/xsim/elaborate.bat
RetiLogicheProject.sim/sim_1/behav/xsim/elaborate.log
RetiLogicheProject.cache/wt/gui_handlers.wdf
RetiLogicheProject.cache/wt/java_command_handlers.wdf
RetiLogicheProject.cache/wt/project.wpc
RetiLogicheProject.cache/wt/webtalk_pa.xml
RetiLogicheProject.cache/wt/xsim.wdf
RetiLogicheProject.sim/sim_1/behav/xsim/compile.bat
RetiLogicheProject.sim/sim_1/behav/xsim/compile.log
RetiLogicheProject.sim/sim_1/behav/xsim/elaborate.bat
RetiLogicheProject.sim/sim_1/behav/xsim/elaborate.log
RetiLogicheProject.sim/sim_1/behav/xsim/project_tb.tcl
RetiLogicheProject.sim/sim_1/behav/xsim/project_tb_behav.wdb
RetiLogicheProject.sim/sim_1/behav/xsim/simulate.bat
RetiLogicheProject.sim/sim_1/behav/xsim/simulate.log
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk.jou
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk.log
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_1200.backup.jou
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_1200.backup.log
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_640.backup.jou
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_640.backup.log
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_7684.backup.jou
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_7684.backup.log
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_9156.backup.jou
RetiLogicheProject.sim/sim_1/behav/xsim/xelab.pb
RetiLogicheProject.sim/sim_1/behav/xsim/webtalk_9156.backup.log
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/obj/xsim_0.win64.obj
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/obj/xsim_1.win64.obj
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/obj/xsim_1.c
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/webtalk/.xsim_webtallk.info
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/webtalk/usage_statistics_ext_xsim.html
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/webtalk/usage_statistics_ext_xsim.xml
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/webtalk/xsim_webtalk.tcl
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsim.dbg
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsim.mem
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsim.reloc
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsim.rlx
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsim.rtti
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsim.type
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsim.xdbg
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsimkernel.log
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsimk.exe
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/project_tb_behav/xsimSettings.ini
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/counter.vdb
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/project_reti_logiche.vdb
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/project_tb.vdb
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/reg.vdb
RetiLogicheProject.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/shifter.vdb
RetiLogicheProject.sim/sim_1/behav/xsim/xvhdl.log
RetiLogicheProject.sim/sim_1/behav/xsim/xvhdl.pb
RetiLogicheProject.xpr
RetiLogicheProject.runs/.jobs/vrs_config_3.xml
RetiLogicheProject.runs/synth_1/.vivado.begin.rst
